# vi: ft=sh
batsignal                   # :hypr
bemoji                      # :hypr
brightnessctl               # :hypr
copyq                       # :hypr
foot                        # :foot :hypr
gammastep                   # :hypr
grim                        # DEP:xdg-desktop-portal-hyprland
grimblast-git               # :hypr
hyprland                    # :hypr
hyprpicker                  # :hypr
ksnip                       # :hypr
mako                        # :mako NOTE:notification daemon
mint-l-icons                # :lookandfeel
mint-l-theme                # :lookandfeel
network-manager-applet      # :hypr
noto-fonts                  # :fontconfig
noto-fonts-cjk              # DEP:noto-fonts
noto-fonts-emoji            # DEP:noto-fonts
pavucontrol                 # :waybar
pipewire                    # NOTE:sound server
pipewire-alsa               # DEP:pipewire
pipewire-jack               # DEP:pipewire
pipewire-pulse              # DEP:pipewire
playerctl                   # :hypr DEP:waybar-hyprland
polkit-gnome                # :hypr NOTE:authentification agent
qt5-wayland                 # NOTE:Qt support
qt5ct                       # :hypr
qt6-wayland                 # NOTE:Qt support
slurp                       # DEP:xdg-desktop-portal-hyprland
swaybg                      # :hypr
swayidle                    # :hypr
tofi                        # :hypr :tofi
ttf-jetbrains-mono-nerd     # :fontconfig
waybar-hyprland             # :hypr :waybar
waylock                     # :hypr
wireplumber                 # DEP:pipewire
wl-clipboard                # NOTE:provide a clipboard
xdg-desktop-portal          # NOTE:handle desktop portal requests
xdg-desktop-portal-hyprland # :hypr DEP:xdg-desktop-portal
