batsignal
bemoji
brightnessctl
copyq
foot
gammastep
grim
grimblast-git
hyprland
hyprpicker
ksnip
mako
mint-l-icons
mint-l-theme
network-manager-applet
noto-fonts
noto-fonts-cjk
noto-fonts-emoji
pavucontrol
pipewire
pipewire-alsa
pipewire-jack
pipewire-pulse
playerctl
polkit-gnome
qt5-wayland
qt5ct
qt6-wayland
slurp
swaybg
swayidle
tofi
ttf-jetbrains-mono-nerd
vulkan-intel
waybar-hyprland
waylock
wireplumber
wl-clipboard
xdg-desktop-portal-gtk
xdg-desktop-portal-hyprland
