* {
  font-family: system-ui;
  font-size: 16px;
  font-weight: normal;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.95);
}

tooltip {
  background-color: rgba(12, 12, 12, 0.9);
  border: 1px solid #666666;
  border-radius: 8px;
}

tooltip label {
  color: #cccccc;
}

/* Module groups */

.modules-left {
  padding: 0 4px;
}

.modules-center {
}

.modules-right {
  padding: 0 4px;
}

/* Global module style */

widget > :not(#tray) {
  color: #cccccc;
  background: none;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 4px;
}

widget > #custom-sep {
  color: #666666;
}

/****************/
/* Left modules */
/****************/

#disk {
}

/****************/

#cpu {
}

/****************/

#memory {
}

/******************/
/* Center modules */
/******************/

#workspaces button {
  padding: 0 8px;
  color: #538069;
}

#workspaces button.visible {
  color: #538069;
}

/* In Hyprland, 'focused' is 'active' */
#workspaces button.active {
  color: #ccff99;
}

#workspaces button.urgent {
  color: #ffffff;
}

#workspaces * {
  box-shadow: inherit;
  text-shadow: inherit;
  background: unset;
  border: none;
  outline: none;
}
